/* html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  } */

  body{
    background-color: rgba(211, 216, 211, 0.747);
  }
  
  h1 {
    color: black;
    color: #fff;
    padding: 10px;
  }
  
  .box {
    align-items: flex-start;
    max-width: 400px;
    margin: 50px auto;
    background: rgb(135, 230, 201);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  button.logbut {
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: black;
    background-color:#ffffff;
    text-align: center;
    transition: all 0.2s;
  }
  button.logbut:hover{
     background-color:#050505;
  }


  .logbutdiv {
    align-items: center;
    margin-left: 46%;
    margin-top: 1px;
  }

  #heading {
    background-color: #050101;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0c0b0b;
    margin-right: 30px;
    margin-top: 10px;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #080708;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 25px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00204a;
  }
  
  form.item {
    text-align: center;
    margin-left: 20px;
  }
  
  button.addbtn {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #070404;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #312d2c;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  

/* button.button3{
   display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.3em 0.3em 0;
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   background-color:#4eb5f1;
   text-align:center;
   transition: all 0.2s;
  }
  button.button3:hover{
     background-color:#4095c6;
  } */

  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
